
@{
    ViewBag.Title = "用户充值";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 流量</title>
    @Styles.Render("~/Content/css")

    <script src="~/Content/js/jquery-1.10.2.min.js"></script>

</head>
<body>
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo">
                <img src="~/Content/img/logo.png" alt="">
            </a>
        </div>


        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>

                    <ul class="am-dropdown-content tpl-dropdown-content">

                        <li>
                            <a href="#" class="tpl-dropdown-content-message">
                                <span class="tpl-dropdown-content-photo">
                                    <img src="~/Content/img/user02.png" alt="">
                                </span>
                                <span class="tpl-dropdown-content-subject">
                                    <span class="tpl-dropdown-content-from"> 禁言小张 </span>

                                </span>

                            </a>

                        </li>

                    </ul>
                </li>

                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">禁言小张</span><span class="tpl-header-list-user-ico"> <img src="~/Content/img/user01.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                        <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                        <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li>
                    <a href="###" class="tpl-header-list-link">
                        <span class="am-icon-sign-out tpl-header-list-ico-out-size"></span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-content-wrapper" style="padding-left:0px;">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 用户充值
                    </div>

                </div>
                <div class="row">
                    <form class="am-form am-form-horizontal" id="addTaskForm" action="/home/payaction" method="post" data-am-validator>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label"></label>
                            <div class="am-u-sm-7">
                                <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-default" style="">
                                    <li>
                                        <div class="am-gallery-item">
                                            <img src="~/Content/img/alipay.jpg" alt="支付宝充值" />                                           
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="am-u-sm-2">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">充值金额</label>
                            <div class="am-u-sm-6">
                                <input id="payMoney" name="payMoney" placeholder="充值金额 " type="number" required>

                            </div>
                            <div class="am-u-sm-3">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">备注</label>
                            <div class="am-u-sm-6">
                                <textarea></textarea>
                            </div>
                            <div class="am-u-sm-3">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success">确认充值</button>
                              
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

